name: Build docs
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: redoc-cli make docs
        uses: MV-GH/redocly-cli-github-action@master
        with:
          args: 'build-docs lemmy_spec.yaml -o ./public/index.html'

      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
